@font-face {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: url("https://fonts.shopifycdn.com/nunito_sans/nunitosans_n4.2b61d9dcf54d8ac8282cfd1ebb6964c79a7efcd1.woff2?&hmac=8cc42143eae778b5a4489df2cc2cac3253120cc1e3acdd0342ed736216541bf9") format("woff2"),
       url("https://fonts.shopifycdn.com/nunito_sans/nunitosans_n4.420cbf408f643f8ff8fd948b99c10dade8b6af79.woff?&hmac=0a96c8ac3d522763f19edefabd69663b968f08a29ebaeb7407601cc91a24defc") format("woff");
}

@font-face {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-style: italic;
  font-display: auto;
  src: url("https://fonts.shopifycdn.com/nunito_sans/nunitosans_i4.e88a2041a6cfbeacffb96db0e8efdfaaa38ddc5c.woff2?&hmac=552da398f9cf9351b323856ad2adeebabcff36bb13e25739abd3442d7eba95d4") format("woff2"),
       url("https://fonts.shopifycdn.com/nunito_sans/nunitosans_i4.2c3733ccdf579e6e89e929a950e6a93484fdf6b4.woff?&hmac=eb5067d9ace3ed9bafc42d21f2a7fdea7b071445b49065533702d8af29bcbfc6") format("woff");
}

@font-face {
  font-family: "Nunito Sans";
  font-weight: 700;
  font-style: normal;
  font-display: auto;
  src: url("https://fonts.shopifycdn.com/nunito_sans/nunitosans_n7.5bd4fb9346d13afb61b3d78f8a1e9f31b128b3d9.woff2?&hmac=a80925e46dab83118087258f70361e59a7ead90cc8d247079c9f1894f9139704") format("woff2"),
       url("https://fonts.shopifycdn.com/nunito_sans/nunitosans_n7.2bcf0f11aa6af91c784a857ef004bcca8c2d324d.woff?&hmac=19e78cd6194bda2d82da36db1c30d78a4999f9945a4f1e70ce478106915512bb") format("woff");
}

  @font-face {
  font-family: "Nunito Sans";
  font-weight: 700;
  font-style: italic;
  font-display: auto;
  src: url("https://fonts.shopifycdn.com/nunito_sans/nunitosans_i7.975ea93f521412ef99ca1e2e434d8ca6a5cf77e7.woff2?&hmac=b3b0b3630d1452928c31a0873830418462a86ab2113a4fe49dfb2299fcfd7d86") format("woff2"),
       url("https://fonts.shopifycdn.com/nunito_sans/nunitosans_i7.83b70272d04b71e88f25fc6834dc9b88e4ba4e95.woff?&hmac=fc183d54dd6522b1546f8886edb89b59dca99697ab3a52106fd21557832de67a") format("woff");
}

@font-face {
  font-family: Montserrat;
  font-weight: 800;
  font-style: normal;
  font-display: auto;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_n8.d0ee6fdb3a3fec57b7ba86e76adad5b86d8b298f.woff2?&hmac=837c7600fe786bf79db8a7ce5fdc863f17f0f1b86f75f0fd5bc3053a1dc8ef8e") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_n8.57046b0201ba1025a279f9546bf469833729dc63.woff?&hmac=4b8d684090d0971d8b6649520528adde5aec1568150ea5cd67646a756ef3e121") format("woff");
}

@font-face {
  font-family: Montserrat;
  font-weight: 800;
  font-style: italic;
  font-display: auto;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_i8.7037775bbf82d7865493b9c8c4f9f95f29614933.woff2?&hmac=62d927c6cae33fb868052c8d3a7a19a8bc16198be57df7088d5870f3bfa95b9a") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_i8.897fa00a948805a58d0a352aacd6f14efa944f56.woff?&hmac=09aef859dc57f208f835220b6da60731cf336b739e9dae6f64f2b6ab850b5626") format("woff");
}

@font-face {
  font-family: Montserrat;
  font-weight: 900;
  font-style: normal;
  font-display: auto;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_n9.ddaed62de62f3d3d87e64f4d0463dca05fc9c8e4.woff2?&hmac=b67d8128c9fe24e8ae2d92ed67e2a363d0b4e977e559b1f1ff89bd9af63b96fa") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_n9.85cc5f32e331fc9b3a109639b08869c64782e161.woff?&hmac=0dad9ff79b5ae51db870d72b5df326b1aa49c5d45832fbf06c7bb8a1bdae96ee") format("woff");
}

  @font-face {
  font-family: Montserrat;
  font-weight: 900;
  font-style: italic;
  font-display: auto;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_i9.7523f2a03fdaaa8b60d141507f9ba8d5c839661a.woff2?&hmac=0ff5e17e6528dbd4376194b0dc782dcc64af3dcbda912017bdd4f159928255aa") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_i9.fb9fe3dd44a3fefe44594bbed91d1246d54a459f.woff?&hmac=7c4218c6af0566c26f8f58af99cc8ac669131c8d9fd33a3a1ad9af2e73db9852") format("woff");
}

@font-face {
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  font-display: auto;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_n7.c496e9cf2031deec4c4bca338faa81971c8631d4.woff2?&hmac=b9a918bf2f468523f460d46c1177ce19f91e4e2d2e985e9790e19f7a38d94a90") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_n7.78b0223375c94b39ce1af7e09a0225f2bb3d05f7.woff?&hmac=8239ed8fbc7d038e4f5187456563d0dfae3f53b3737d96c3d6b510d70dafb13d") format("woff");
}

  @font-face {
  font-family: Montserrat;
  font-weight: 700;
  font-style: italic;
  font-display: auto;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_i7.83866c3eec90071fa974c17980ffb42977f9e667.woff2?&hmac=49e2f753aa1bbed2499a3208c3f2e6969080a740e643ad544e4e9d95dbdd13a9") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_i7.25524241b12d864609c85325613d60efcf1a87e3.woff?&hmac=52d5d1f52cacaac04dec2f10df0bcaeec767bd41569a43d36480d4a16030455d") format("woff");
}

@font-face {
  font-family: "Nunito Sans";
  font-weight: 700;
  font-style: normal;
  font-display: auto;
  src: url("https://fonts.shopifycdn.com/nunito_sans/nunitosans_n7.5bd4fb9346d13afb61b3d78f8a1e9f31b128b3d9.woff2?&hmac=a80925e46dab83118087258f70361e59a7ead90cc8d247079c9f1894f9139704") format("woff2"),
       url("https://fonts.shopifycdn.com/nunito_sans/nunitosans_n7.2bcf0f11aa6af91c784a857ef004bcca8c2d324d.woff?&hmac=19e78cd6194bda2d82da36db1c30d78a4999f9945a4f1e70ce478106915512bb") format("woff");
}

@font-face {
  font-family: "Nunito Sans";
  font-weight: 700;
  font-style: italic;
  font-display: auto;
  src: url("https://fonts.shopifycdn.com/nunito_sans/nunitosans_i7.975ea93f521412ef99ca1e2e434d8ca6a5cf77e7.woff2?&hmac=b3b0b3630d1452928c31a0873830418462a86ab2113a4fe49dfb2299fcfd7d86") format("woff2"),
       url("https://fonts.shopifycdn.com/nunito_sans/nunitosans_i7.83b70272d04b71e88f25fc6834dc9b88e4ba4e95.woff?&hmac=fc183d54dd6522b1546f8886edb89b59dca99697ab3a52106fd21557832de67a") format("woff");
}

@font-face {
  font-family: "Nunito Sans";
  font-weight: 700;
  font-style: normal;
  font-display: auto;
  src: url("https://fonts.shopifycdn.com/nunito_sans/nunitosans_n7.5bd4fb9346d13afb61b3d78f8a1e9f31b128b3d9.woff2?&hmac=a80925e46dab83118087258f70361e59a7ead90cc8d247079c9f1894f9139704") format("woff2"),
       url("https://fonts.shopifycdn.com/nunito_sans/nunitosans_n7.2bcf0f11aa6af91c784a857ef004bcca8c2d324d.woff?&hmac=19e78cd6194bda2d82da36db1c30d78a4999f9945a4f1e70ce478106915512bb") format("woff");
}

@font-face {
  font-family: "Nunito Sans";
  font-weight: 700;
  font-style: italic;
  font-display: auto;
  src: url("https://fonts.shopifycdn.com/nunito_sans/nunitosans_i7.975ea93f521412ef99ca1e2e434d8ca6a5cf77e7.woff2?&hmac=b3b0b3630d1452928c31a0873830418462a86ab2113a4fe49dfb2299fcfd7d86") format("woff2"),
       url("https://fonts.shopifycdn.com/nunito_sans/nunitosans_i7.83b70272d04b71e88f25fc6834dc9b88e4ba4e95.woff?&hmac=fc183d54dd6522b1546f8886edb89b59dca99697ab3a52106fd21557832de67a") format("woff");
}



@font-face {
  font-family: Montserrat;
  font-weight: 800;
  font-style: normal;
  font-display: auto;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_n8.d0ee6fdb3a3fec57b7ba86e76adad5b86d8b298f.woff2?&hmac=837c7600fe786bf79db8a7ce5fdc863f17f0f1b86f75f0fd5bc3053a1dc8ef8e") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_n8.57046b0201ba1025a279f9546bf469833729dc63.woff?&hmac=4b8d684090d0971d8b6649520528adde5aec1568150ea5cd67646a756ef3e121") format("woff");
}

@font-face {
  font-family: Montserrat;
  font-weight: 800;
  font-style: italic;
  font-display: auto;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_i8.7037775bbf82d7865493b9c8c4f9f95f29614933.woff2?&hmac=62d927c6cae33fb868052c8d3a7a19a8bc16198be57df7088d5870f3bfa95b9a") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_i8.897fa00a948805a58d0a352aacd6f14efa944f56.woff?&hmac=09aef859dc57f208f835220b6da60731cf336b739e9dae6f64f2b6ab850b5626") format("woff");
}



    :root {--font-size-heading-large: 2.55rem;
  
--font-size-heading-medium: 2.25rem;
  
--font-size-heading-1: 2.1rem;
  
--font-size-heading-2: 1.95rem;
  
--font-size-heading-3: 1.8rem;
  
--font-size-heading-4: 1.5rem;
  
--font-size-heading-5: 1.125rem;
  
--font-size-heading-6: 1.125rem;
  
--font-size-body-larger: 1.375rem;
  
--font-size-body-large: 1.25rem;
  
--font-size-body-medium: 1.125rem;
  
--font-size-body: 1.0rem;
  
--font-size-body-small: 0.9375rem;
  
--font-size-body-smaller: 0.875rem;
  
--font-size-body-smallest: 0.8125rem;
  
--font-size-body-tiny: 0.75rem;
  
--font-size-button-small: 0.875rem;
  
--font-size-button-medium: 1.0rem;
  
--font-size-button-large: 1.125rem;
  
--font-size-button-x-large: 1.3125rem;
  
--font-size-menu-large: 1.0625rem;
  
--font-size-menu: 1.0rem;
  
--font-size-input: 1.0rem;
  
--font-size-section-heading: 1.5rem;
  
--font-size-menu-body-medium: 1.125rem;
  
--font-size-menu-body-small: 0.9375rem;
  
--font-size-heading-body-small: 0.9375rem;
  
--font-size-heading-body-smaller: 0.875rem;
  
--font-size-heading-slideshow: 2.390625rem;
  
}@media screen and (max-width: 719px) {
      :root {--font-size-heading-large: 2.390625rem;
  
}}@media screen and (max-width: 859px) {
      :root {--font-size-heading-medium: 2.109375rem;
  
--font-size-heading-1: 1.96875rem;
  
--font-size-heading-2: 1.828125rem;
  
--font-size-heading-3: 1.6875rem;
  
--font-size-heading-4: 1.40625rem;
  
--font-size-heading-5: 1.0546875rem;
  
--font-size-heading-6: 1.0546875rem;
  
--font-size-body-larger: 1.2890625rem;
  
--font-size-body-large: 1.171875rem;
  
--font-size-body-medium: 1.0546875rem;
  
--font-size-body: 0.9375rem;
  
--font-size-body-small: 0.87890625rem;
  
--font-size-body-smaller: 0.8203125rem;
  
--font-size-body-smallest: 0.76171875rem;
  
--font-size-body-tiny: 0.703125rem;
  
--font-size-button-small: 0.8203125rem;
  
--font-size-button-medium: 0.875rem;
  
--font-size-button-large: 0.9921875rem;
  
--font-size-button-x-large: 1.16796875rem;
  
--font-size-menu-large: 0.93359375rem;
  
--font-size-menu: 0.9375rem;
  
--font-size-input: 0.9375rem;
  
--font-size-section-heading: 1.40625rem;
  
--font-size-menu-body-medium: 1.0546875rem;
  
--font-size-menu-body-small: 0.87890625rem;
  
--font-size-heading-body-small: 0.87890625rem;
  
--font-size-heading-body-smaller: 0.8203125rem;
  
--font-size-heading-slideshow: 2.390625rem;
  
}}




  

































  

  
  
  

  
  



  

  
  
  
  
  
  
  
  
  
  
  
  

  
  
  
  
  
  
  
  





h6, h5, h4, h3, h2, h1 {
  font-family: Montserrat,sans-serif;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0.0em;
}h6, h5, h4, h3, h2, h1 {
    text-transform: none;
  }h6 b, h5 b, h4 b, h3 b, h2 b, h1 b,
h6 strong,
h5 strong,
h4 strong,
h3 strong,
h2 strong,
h1 strong {
  font-weight: 900;
}
h6 em, h5 em, h4 em, h3 em, h2 em, h1 em {
  font-style: italic;
}
h6 b em, h5 b em, h4 b em, h3 b em, h2 b em, h1 b em,
h6 strong em,
h5 strong em,
h4 strong em,
h3 strong em,
h2 strong em,
h1 strong em,
h6 em b,
h5 em b,
h4 em b,
h3 em b,
h2 em b,
h1 em b,
h6 em strong,
h5 em strong,
h4 em strong,
h3 em strong,
h2 em strong,
h1 em strong {
  font-style: italic;
}

h1 {
  font-size: var(--font-size-heading-1);
}

h2 {
  font-size: var(--font-size-heading-2);
}

h3 {
  font-size: var(--font-size-heading-3);
}

h4 {
  font-size: var(--font-size-heading-4);
}

h5 {
  font-size: var(--font-size-heading-5);
}

h6 {
  font-size: var(--font-size-heading-6);
}.button-secondary, .button-primary {
  font-size: var(--font-size-button-small);
  padding: 0.625rem 1rem;
  letter-spacing: 0.0em;
  font-family: "Nunito Sans",sans-serif;
  font-style: normal;
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px;
  transition: width 125ms cubic-bezier(0.4, 0, 0.2, 1), height 125ms cubic-bezier(0.4, 0, 0.2, 1), border-color 125ms cubic-bezier(0.4, 0, 0.2, 1), background-color 125ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 125ms cubic-bezier(0.4, 0, 0.2, 1);
}.button-secondary, .button-primary {
    text-transform: none;
  }.button-secondary:hover, .button-primary:hover, .button-secondary:focus, .button-primary:focus {
  outline: none;
}
.button-secondary:not(.disabled):hover, .button-primary:not(.disabled):hover {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}
.button-secondary:focus, .button-primary:focus {
  box-shadow: 0 0 0 2px 
rgb(0, 0, 0)

, 0 0 0 5px rgba(17, 153, 255, 0.4), 0 3px 8px rgba(0, 0, 0, 0.1);
}

.button-secondary.disabled, .button-primary.disabled {
  color: #ffffff;
  cursor: default;
  background-color: #808080;
  border: 1px solid #808080;
}

.giftcard--container {
  --layout-container-max-width: 1600px;
  --layout-container-gutter: 10px;
  max-width: var(--layout-container-max-width);
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 720px) {
  .giftcard--container {
    --layout-container-gutter: 15px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .giftcard--container {
    --layout-container-gutter: 25px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.giftcard-message, .giftcard-message.message--error {
  font-style: normal;
  font-weight: 700;
  font-size: var(--font-size-body);
}
.giftcard-message a, .giftcard-message.message--error a {
  color: currentColor;
}

.giftcard-message.message--error {
  color: #f05d5d;
  background-color: #2b1111;
}.button-primary {
  color: #ffffff;
  background-color: #ff0000;
  border: 1px solid #ff0000;
}
.button-primary:not(.disabled):hover {
  background: rgb(230, 0, 0);
  border: 1px solid rgb(230, 0, 0);
}
.button-primary:active {
  background: 
#e00000

;
  border: 1px solid 
#e00000

;
}
.button-primary.mdc-ripple-surface.mdc-ripple-upgraded {
  --mdc-ripple-fg-opacity: 0.16;
}
.button-primary.mdc-ripple-surface.mdc-ripple-upgraded--background-focused::before, .button-primary.mdc-ripple-surface:hover::before, .button-primary.mdc-ripple-surface::before {
  opacity: 0;
}
.button-primary.mdc-ripple-surface::after {
  background-color: #ffffff;
}

.button-secondary {
  color: #ffffff;
  background-color: #0800fd;
  border: 1px solid #0800fd;
}
.button-secondary:not(.disabled):hover {
  background: rgb(6, 0, 202);
  border: 1px solid 
#0700de

;
}
.button-secondary.mdc-ripple-surface.mdc-ripple-upgraded {
  --mdc-ripple-fg-opacity: 0.12;
}
.button-secondary.mdc-ripple-surface.mdc-ripple-upgraded--background-focused::before, .button-secondary.mdc-ripple-surface:hover::before, .button-secondary.mdc-ripple-surface::before {
  opacity: 0;
}
.button-secondary.mdc-ripple-surface::after {
  background-color: #ffffff;
}

#messageus_button {
  z-index: 9999;
}

.icon-signpost-arrow {
  display: inline-block;
  transform: translateY(2px);
}
.icon-signpost-arrow path {
  transition: transform 125ms cubic-bezier(0.4, 0, 0.2, 1) 100ms, opacity 125ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-signpost-arrow path:first-child {
  transform: translateX(-8px);
}
.icon-signpost-arrow path:last-child {
  transform: translateX(-100%);
}

html,
body {
  background-color: 
rgb(0, 0, 0)

;
}

html {
  height: 100%;
}
html::before {
  display: none;
  content: "XXXS,XXS,XS,S,M,L,XL,XXL,XXXL";
}
html::after {
  display: none;
  content: "XXXS";
}
@media screen and (min-width: 480px) {
  html::after {
    content: "XXS";
  }
}
@media screen and (min-width: 680px) {
  html::after {
    content: "XS";
  }
}
@media screen and (min-width: 720px) {
  html::after {
    content: "S";
  }
}
@media screen and (min-width: 860px) {
  html::after {
    content: "M";
  }
}
@media screen and (min-width: 1024px) {
  html::after {
    content: "L";
  }
}
@media screen and (min-width: 1080px) {
  html::after {
    content: "XL";
  }
}
@media screen and (min-width: 1280px) {
  html::after {
    content: "XXL";
  }
}
@media screen and (min-width: 1500px) {
  html::after {
    content: "XXXL";
  }
}

body {
  font-family: "Nunito Sans",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size-body);
  width: 100%;
  color: #ffffff;
}
@media screen and (max-width: 719px) {
  body {
    font-size: var(--font-size-body-small);
  }
}
.scroll-locked body {
  overflow: hidden;
  touch-action: manipulation;
}

th,
b,
strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

th em,
b em,
strong em,
em b,
em strong {
  font-style: italic;
}

.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  border: 0;
}

.skip-to-main {
  font-size: var(--font-size-body);
  position: absolute;
  top: 0;
  left: -9999px;
  color: #0184ed;
  background: 
rgb(0, 0, 0)

;
  text-decoration: none;
  padding: 1em;
}
.skip-to-main:focus, .skip-to-main:active {
  left: 0;
  z-index: 900;
}

body .mdc-ripple-surface:hover:before {
  opacity: 0;
}

@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    animation-duration: 0.001s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001s !important;
    scroll-behavior: auto !important;
  }
}
/*================ #Giftcard Template ================*/
.template-giftcard {
  margin: 0;
}

.giftcard__apple-wallet-image {
  display: block;
  margin: 0 auto;
}

/*================ Print Giftcard Styles ================*/
@media print {
  @page {
    margin: 0.5cm;
  }
  p {
    orphans: 3;
    widows: 3;
  }

  .giftcard__print-link,
.giftcard__apple-wallet {
    display: none;
  }
}
/*================ Custom Giftcard Styles ================*/
.giftcard-header {
  padding: 1.0rem 1.75rem;
  color: #ff0000;
  background-color: 


;
  text-align: center;
}

.giftcard-header-logo {
  display: block;
  color: currentColor;
  text-decoration: none;
  max-width: 300px;
  margin: 0 auto;
}
@media screen and (max-width: 859px) {
  .giftcard-header-logo {
    max-width: 200px;
  }
}
.giftcard-header-logo .site-logo-image {
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.giftcard-header-logo-text {
  font-size: var(--font-size-body);
  display: block;
  width: 100%;
  text-decoration: none;
}

.giftcard--container {
  max-width: 488px;
  margin-bottom: 4.25rem;
  text-align: center;
  padding: 0 1.0rem 1.0rem;
}

.giftcard-title {
  margin-top: 2.0rem;
  margin-bottom: 2.0rem;
}

.giftcard-qr {
  width: 120px;
  margin-right: auto;
  margin-left: auto;
}

.giftcard-actions {
  margin-top: 1.25rem;
  font-size: 0;
}
.giftcard-actions .button-secondary {
  margin-left: 20px;
}

/*================ Gift Card image ================*/
.giftcard-image {
  position: relative;
  text-align: center;
}
.giftcard-image img {
  position: relative;
  display: block;
  max-width: 100%;
  border-radius: 10px;
  z-index: 2;
}
.giftcard-image::before, .giftcard-image::after {
  content: "";
  position: absolute;
  width: 47px;
  height: 47px;
  z-index: 3;
}
.giftcard-image::before {
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE3LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNDdweCIgaGVpZ2h0PSI0N3B4IiB2aWV3Qm94PSIwIDAgNDcgNDciIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDQ3IDQ3IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+Cgk8ZyBvcGFjaXR5PSIwLjEiPgoJCTxwYXRoIGQ9Ik00NC41ODYsMUwxLDQ0LjU4NlYxMGMwLTQuOTYzLDQuMDM3LTksOS05SDQ0LjU4NiBNNDcsMEgxMEM0LjQ3NywwLDAsNC40NzcsMCwxMHYzN0w0NywwTDQ3LDB6Ii8+Cgk8L2c+CjwvZz4KPGc+Cgk8Zz4KCQk8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNNDQuNTg2LDFMMSw0NC41ODZWMTBjMC00Ljk2Myw0LjAzNy05LDktOUg0NC41ODYiLz4KCTwvZz4KPC9nPgo8L3N2Zz4K") 0 0 no-repeat;
  top: -1px;
  left: -1px;
}
.giftcard-image::after {
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE3LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNDdweCIgaGVpZ2h0PSI0N3B4IiB2aWV3Qm94PSIwIDAgNDcgNDciIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDQ3IDQ3IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+Cgk8ZyBvcGFjaXR5PSIwLjEiPgoJCTxwYXRoIGQ9Ik0yLjQxNCw0Nkw0NiwyLjQxNFYzN2MwLDQuOTYzLTQuMDM3LDktOSw5SDIuNDE0IE0wLDQ3aDM3YzUuNTIzLDAsMTAtNC40NzcsMTAtMTBWMEwwLDQ3TDAsNDd6Ii8+Cgk8L2c+CjwvZz4KPGc+Cgk8Zz4KCQk8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMi40MTQsNDZMNDYsMi40MTRWMzdjMCw0Ljk2My00LjAzNyw5LTksOUgyLjQxNCIvPgoJPC9nPgo8L2c+Cjwvc3ZnPgo=") 0 0 no-repeat;
  bottom: -1px;
  right: -1px;
}

/*================ Gift card code ================*/
.giftcard-code {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
  z-index: 5;
}

.giftcard-code--medium {
  font-size: 0.875em;
}

.giftcard-code--small {
  font-size: 0.75em;
}

.giftcard-code--inner {
  display: inline-block;
  max-width: 450px;
  padding: 0.5em;
  vertical-align: baseline;
  border-radius: 4px;
}

.giftcard-code-text {
  font-style: normal;
  font-weight: 400;
  display: inline-block;
  padding: 0.4em 0.5em;
  font-size: 1.875em;
  line-height: 1;
  text-transform: uppercase;
  vertical-align: baseline;
  background-color: #fff;
  border: 1px dashed rgb(128, 128, 128);
}
.giftcard-code-text.disabled {
  text-decoration: line-through;
}

/*================ Gift card amount ================*/
.giftcard-amount {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2.75em;
  line-height: 1.2;
  padding: 10px;
  z-index: 5;
  color: #fff;
}
.giftcard-amount strong {
  display: block;
}

/*================ Tooltip ================*/
.giftcard-tooltip {
  display: block;
  position: absolute;
  top: -50%;
  right: 50%;
  margin-top: 16px;
  z-index: 4;
  text-align: center;
  white-space: nowrap;
}
.giftcard-tooltip::before {
  content: "";
  display: block;
  position: absolute;
  left: 100%;
  bottom: 0;
  width: 0;
  height: 0;
  margin-left: -5px;
  margin-bottom: -5px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 5px solid #fff;
}

.giftcard-tooltip-label {
  font-style: normal;
  font-weight: 400;
  position: relative;
  right: -50%;
  display: block;
  min-height: 14px;
  padding: 0.5em 0.75em;
  margin-left: 0.25em;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  text-shadow: none;
  background-color: #fff;
  border: 0;
  border-radius: 4px;
}
.giftcard-tooltip-label small {
  font-size: 0.875em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/*================ Medium-down width ================*/
@media screen and (max-width: 580px) {
  .print-link {
    display: none;
  }
}
/*================ Small width ================*/
@media screen and (max-width: 400px) {
  .giftcard-image::before,
.giftcard-image::after {
    display: none;
  }

  .giftcard-code {
    font-size: 0.75em;
  }

  .giftcard-code--medium {
    font-size: 0.65em;
  }

  .giftcard-code--small {
    font-size: 0.55em;
  }
}
/*============================================================================
  #Print Styles
==============================================================================*/
@media print {
  .giftcard-image::before,
.giftcard-image::after,
.giftcard-tooltip {
    display: none;
  }

  .giftcard-actions {
    display: none;
  }
}